
:root {
  /* basic-colors  */
  --basic-red:#EE3643;
  --basic-blue: #32425C;
  --basic-green:#63A63E;
  --basic-gray:#3D546F;
  --basic-graylight:#C5C5C5;
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --dark-blue: #293449;

   /* background-colors */
  --background-beige:#F7F3EC;
  --background-graylight: #F1F5F7;
  --background-bluelight: #F2F6F8;
  --popular-background:#F9F5F0;

  /*focus-hover*/
  --focus-white: rgba(255, 255, 255, 0.5);
  --focus-blue-user-navigation:#161D29;
  --focus-blue-site-navigation:#1D2739;
  --hover-button-red:#CA2C37;
  --focus-button-red:#BA2732;
  --focus-button-green:#518534;
  --hover-button-green:#5FBB2D;
  --focus-footer-white:rgba(241,245,247,0.5);
  --focus-footer-yellow:rgba(255, 209, 128, 0.5);
  --focus-logo:#BA2732;

   /* transparent */
   --transparent-text: rgba(0, 0, 0, 0.3);
   --transparent-button: rgba(255, 255, 255, 0.3);

   /*offers */
  --special-blue:#3BBCE3;
  --special-lilac:#DC91D8;
  --special-greenlight:#8ED78F;
  --special-yellowlight:#FFC047;
  --special-yellow:#FFBF47;

  /* slider */
  --slider-shadow:rgba(0, 0, 0, 0.25);

  /* разделы с карточкой товара и "производители"*/
  --old-price: #A9A9A9;
  --focus-transparent-button:#A9A9A9;
  --border-of-kart:#EAEAEA;
  --focus-blue-transparent: rgba(50, 66, 92, 0.5);
  --focus-shadow:rgba(0, 0, 0, 0.15);
  --border-graylight:#E5E5E5;
  --shadow-green:#367315;

  /* Футер */
  --footer-yellow:#FFD180;
  --footer-white:#F1F5F7;
  --footer-address:#F3F7F9;

  /* modal  */
   --modal-gray: #A9A9A9;
}
.page {
  height: 100%;
}
.page-body {
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
/* input::-webkit-input-placeholder {
  color: inherit;
}
input:-moz-placeholder {
  color: inherit;
} */
/* main-header */
.main-header {
  margin-bottom: 60px;
  background-color: var(--background-graylight);
}
.button {
  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
}

/* main-navigation */
.logo {
display: block;
text-align: center;
max-width: 220px;
max-height: 47px;
background-color: var(--basic-red);
box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);

}
.logo img {
  /* позже выровняю */
}
.logo:focus {
background-color: var(--focus-logo);
}

.main-navigation {
display: grid;
grid-template-rows: min-content min-content min-content;
padding-bottom: 60px;
}
.user-navigation-container-blue {
  background-color: var(--dark-blue);
}
.user-navigation {
width: 940px;
margin: 0 auto;
padding: 0;
font-size: 18px;
line-height: 24px;
color: var(--basic-white);

}
.header-info {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

.set-an-order {
background-color: var(--basic-green);
}
.description {
font-size: 16px;
line-height: 23px;
font-style: italic;
font-weight: 400;
color: var(--basic-red);
}
.header-telephone {
font-size: 21px;
line-height: 30px;
font-weight: 700;
color: var(--basic-red);
display: block;
border: 3px solid var(--basic-white);
}
.header-address {
font-size: 14px;
line-height: 24px;
font-weight: 400;
font-style: normal;
color: var(--basic-black);
}
.header-link {
display: block;
font-size: 21px;
line-height: 21px;
color: var(--basic-black);
background-color: var(--basic-white);
}
.site-navigation {
width: 940px;
margin: 0 auto;
padding: 0;
list-style: none;
background-color: var(--basic-blue);
border-bottom: 5px solid var(--dark-blue);
}
.site-navigation-item {
font-size: 18px;
line-height: 24px;
color: var(--basic-white);
}
.search {
  font:inherit;
  border: none;
  background-color: inherit;
  color: var(--basic-white);
}

.user-navigation a:hover,
.user-navigation a {
color: var(--basic-white);
}
.site-navigation a:hover {
background-color: var(--dark-blue);
}
.site-navigation a:focus,
.user-navigation a:focus,
.user-navigation-links a:focus {
  color: var(--focus-white);
}
.site-navigation a:focus {
  background-color: var(--focus-blue-site-navigation);
}
.header-link:hover{
  color: var(--basic-red);
}
.header-link:focus {
  color: var(--basic-graylight);
}
.set-an-order:hover {
  background-color: var(--hover-button-green);
}
.set-an-order:focus {
  background-color: var(--basic-green);
}
.bookmarks:focus {
  background-color: var(--focus-blue-user-navigation);
}
.search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}


/*  container*/
.content-bar {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.offers a {
  color: var(--basic-white);
}
.offer-list {
list-style: none;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
gap: 20px;
margin-bottom: 60px;
}
.offer-item h3{
font-weight: bold;
font-size: 24px;
line-height: 30px;
color: var(--basic-white);
}
.offer-item {

display:block;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}
.transparent-button {
background-color: var(--transparent-button);
color: var(--basic-white);
}
.transparent-button:hover {
background-color: var(--basic-graylight);
}
.transparent-button:focus {
background-color: var(--focus-transparent-button);

}
.materials {
  background-color: var(--special-yellow);
}
.tool {
  background-color: var(--special-blue);
}
.technic {
  background-color: var(--special-lilac);
}
.discount {
  background-color: var(--special-greenlight);
}
.delivery-free {
  background-color: var(--special-yellowlight);
}
.slider h3 {
font-size: 36px;
line-height: 36px;
text-transform: uppercase;
}
.slider p{
font-size: 18px;
line-height: 24px;
}
.slider {
background-color: var(--basic-blue);
color: var(--basic-white);
grid-column: 1 / 3;
grid-row: 2 / 4;
/* подскажи, что я тут не так сделала, пожалуйста. слайдер не там, где нужно  */
}
 .button-all {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
}
.slider-shadow {
  background-color: var(--slider-shadow);
}
.button-slider:hover {
  background-color: var(--hover-button-red);
}
.button-slider:focus {
background-color: var(--focus-button-red);
}
/* Раздел популярных товаров */
.popular-products-list {
  list-style: none;
}

.popular-block h2 {
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-blue);
}
.popular-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;
}
.popular-header {
background-color: var(--popular-background);
}

/* Карточка товара */
.popular-products-item {
  font-family: "PT Sans", Arial, sans-serif;
  border: 1px solid var(--border-of-kart);
}
.popular-products-item:hover,
.manufacturer-item:hover {
  box-shadow: 0px 4px 20px var(--focus-shadow);
}
.manufacturer-item :focus {
  box-shadow: 0px 4px 20px var(--focus-shadow);
  color: var(--transparent-text);
}
.manufacturer-item a:focus {
  opacity: 50%;
}
.popular-products-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}
.old-price {
font-weight: bold;
font-size: 17px;
line-height: 18px;
text-decoration: line-through;
color: var(--old-price);
}
.new-price {
font-weight: bold;
font-size: 17px;
line-height: 18px;
color: var(--basic-white);
background-color: var(--basic-red);
}
.button-buy {
color: var(--basic-white);
background-color: var(--basic-green);
box-shadow: inset 0px -3px 0px var(--shadow-green);
border-radius: 2px;
}
.button-buy:hover {
background-color: var(--hover-button-green);
}
.button-buy:focus {
  background-color: var(--focus-button-green);
}
/* .product-hover{
  display: none;
} */
.product-hover .button {
outline: 0;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
}
.button-add-bookmarks {
border: 3px solid var(--basic-green);
color: var(--basic-blue);
background-color: var(--basic-white);
}
.button-add-bookmarks:hover {
border: 3px solid var(--basic-blue);
}
.button-add-bookmarks:focus {
border: 3px solid var(--focus-blue-transparent);
color: var(--focus-blue-transparent);
}
/*Популярные производители  */
.manufacturer-list {
list-style: none;
}
.manufacturer-item {
border: 1px solid var(--border-of-kart);
}

/* Сервисы */
.services-container {
  background-color: var(--background-graylight);
}
.serviсes,
.delivery {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
/*по поводу сетки этого блока, я думаю что тут гриды не подходят, потому что, тогда придется менять разметку, а она там наиболее логичная. можно ли сделать подраздел "доставка" абсолютно спозиционированным? по идее там кнопка должна переключать "доставку" на " гарантию" и "кредит". или лучше как-то иначе? */
.serviсes h2 {
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-black);
}
.serviсes p {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
}
.serviсes-list {
  list-style: none;
}
.serviсes-item a {
font-weight: bold;
font-size: 21px;
line-height: 30px;
color: var(--basic-white);
background-color: var(--basic-blue);
}
.serviсes-item a:hover {
background-color: var(--dark-blue);
}
.serviсes-item a:focus {
  background-color: var(--basic-white);
  color: var(--basic-blue);

}
/* Доставка */
.delivery h3 {
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-blue);
}
.delivery p {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 24px;
color: var(--basic-black);
}
/* Сетка для разделов "компания" и "контакты" */
.company-contacts-grid {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 70px;
}
/* КОМПАНИЯ «Техномарт» */
.company h2 {
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
}
.company p {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 24px;
}
.transport-company-list {
  list-style: none;
}
.transport-company-item {
font-size: 18px;
line-height: 24px;
}
/* Контакты */
.contacts h2 {
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
}
.contacts p {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 24px;
}
/* Футер */
.footer-container-blue {
background-color: var(--basic-blue);
}
.footer-navigation-block {
  display: grid;
  grid-template-columns: 380px auto;
  margin-bottom: 55px;
  width: 940px;
  margin: 0 auto;
  padding: 0;
}
.main-footer a {
  color: var(--basic-white);
}
.footer-address, .footer-telephone {
font-size: 18px;
line-height: 24px;
color: var(--footer-address);
}
.footer-navigation-list {
list-style: none;
margin-bottom: 0;
}
.footer-navigation-item {
font-size: 18px;
line-height: 24px;
}
.footer-navigation-item .first-line-link {
color: var(--footer-white);
}
.footer-navigation-item a:hover{
text-decoration: underline;
}
.footer-navigation-item .second-line-link {
color: var(--footer-yellow);
}
.first-line-link:focus{
color: var(--focus-footer-white);
  }
.second-line-link:focus {
color: var(--focus-footer-yellow);
}

/* вторая часть футера */
.footer-container-dark-blue {
background-color: var(--dark-blue);
}
.footer-social-navigation {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;

}
.footer-social-navigation p {
  margin: 0;
}
.copyright,
.footer-social-navigation span {
font-size: 16px;
line-height: 18px;
color: var(--basic-white);
}
.social-navigation-list {
list-style: none;
  }
.footer-social-navigation a {
font-size: 16px;
line-height: 18px;
color: var(--footer-yellow);
}
.feedback-link:hover,
.developed-link:hover {
  text-decoration: underline;
}
.feedback-link:focus,
.developed-link:focus {
color: var(--basic-red);
}
/* Модальные окна */
.modal input {
background-color: var(--basic-white);
border: 2px solid var(--basic-graylight);
border-radius: 2px;
}
.modal input::-webkit-input-placeholder {
  color: var(--modal-gray);
}
.modal input:-moz-placeholder {
  color: var(--modal-gray);
}

/* внутренняя страница */
/* header */
.basket-full {
  background-color: var(--basic-red);
}
.user-name {
font-size: 21px;
line-height: 21px;
color: var(--basic-black);
}
.user-name:focus {
color: var(--basic-graylight);
}
.personal-account {
font-size: 16px;
line-height: 18px;
color: var(--basic-blue);
}
.personal-account:hover {
color: var(--basic-red)
}
.personal-account:focus {
color: var(--basic-graylight);
}
.breadcrumbs {
list-style: none;
}
.breadcrumbs li,
.breadcrumbs a {
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
color: var(--basic-black);
}
.perforators {
display: block;
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: var(--basic-blue);
background-color: var(--background-bluelight);
}
.filter-block h3 {
font-family: "PT Sans", arial, sans-serif;
font-weight: 700;
font-size: 17px;
line-height: 30px;
text-transform: uppercase;
}
.filter {
display: block;
background-color: var(--background-beige);
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 18px;
font-weight: 400;
text-transform: uppercase;
}
.manufacturers-list {
  list-style: none;
}
.manufacturers-list li {
font-family: "PT Sans", arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
}
.supply-list {
  list-style: none;
}
.supply-list li {
font-family: "PT Sans", arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
text-transform: uppercase;
}
.show-button {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
border: 1px solid var(--border-graylight);
background-color: transparent;
}
.sort-block {
  background-color: var(--background-beige);
}
.sort-block button,
.sort-block h2 {
  font-family: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.sort-block button {
  font-family: "PT Sans", arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--transparent-text);
  padding: 0;
  background-color: inherit;
  border: none;
  border-bottom: 1px dashed var(--basic-red);
}
.sort-block button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sort-block button:focus {
color: var(--basic-red);
outline: none;
border: none;
}
.sort-list {
list-style: none;
}
.products-list {
  list-style: none;
}
/* Пагинация */
.pagination {
  list-style:none;
  }
.pagination a {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 18px;
color: var(--basic-black);
border: 1px solid var(--border-graylight);
  }
.next-page {
  text-transform: uppercase;
}
.pagination a:hover {
  border: 1px solid var(--basic-graylight);
}
.pagination a:focus {
  border: 1px solid var(--basic-red);
}
.pagination .active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}
/* пару слов о перфораторах */
.few-words-block {
  background-color: var(--background-graylight);
}
.few-words-block  h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.few-words-block p {
font-family: "PT Sans", arial, sans-serif;
font-size: 13px;
line-height: 24px;
}
